{% extends 'base.html' %}
{% load static %}

{% block title %}
Request_GP
{% endblock %}

{% block DashContent %}
{% if request.session.userid is None%}
<script>
alert('You have to login first')
window.location.href="/host/studentLogin"
</script>
{% endif %}

<style>

.gatepassouter
{
    min-height:70vh;


}
.gatepass
{
    border:2px solid #662c53;
    box-shadow:-5px 5px 15px 3px grey;
}
.detail
{
    border-bottom:2px dotted #662c53;
}

.button:hover
{
    background:#198754;

}
</style>
{% for x in data %}
<div class="row mx-3 my-5 gatepassouter">
    <div class="col-sm-1"></div>
    <!-- Gate pass coding start -->
    <div class="col-sm-10 gatepass py-3 px-4">
        <center><h3 >Ga<span style="border-bottom:2px solid #682d53;">te Pa</span>ss</h3></center>

        <div class="row pt-3">
            <div class="col-sm-12 ">
                <img src="/{{request.session.pic}}" style="width:120px; height:120px;" class="mb-5">
            </div>
            <div class="col-sm-6">
                <b>Name:</b>
                <div class="detail mb-2">{{x.2}}</div>
            </div>
            <div class="col-sm-6">
                <b>Registration ID:</b>
                <div class="detail mb-2">{{x.1}}</div>
            </div>
            <div class="col-sm-6">
                <b>From Date / Time:</b>
                <div class="detail mb-2">{{x.4}} / {{x.5}}</div>
            </div>
            <div class="col-sm-6">
                <b>To Date / Time:</b>
                <div class="detail mb-2">{{x.6}} / {{x.7}}</div>
            </div>
            <div class="col-sm-6">
                <b>Reason:</b>
                <div class="detail mb-2">{{x.11}}</div>
            </div>
            <div class="col-sm-6">
                <b>Permit Time:</b>
                <div class="detail mb-2">{{x.10}}</div>
            </div>
            <div class="col-sm-12">
                <b>Permit Status:</b><br>
                <div class="btn btn-success button" style="width:100%; cursor:auto;">ALLOW</div>
            </div>

        </div>
    </div>
    <!-- Gate pass coding end -->
    <div class="col-sm-1"></div>
</div>
{% endfor %}

{% endblock %}