{% extends 'base.html' %}
{% load static %}

{% block title %}
Change_Password
{% endblock %}
<!-- ************** Menu Items Start ************** -->
{% block DashContent %}
{% if request.session.userid is None %}
<script>
    alert('You have to login first...');
    window.location.href="/host/studentLogin/"

</script>
{% endif %}

<style>

.changepassouter
{
    min-height:75vh;
    display:flex;
}
.changepassform
{
    min-height:75vh;
    background:white;
    box-shadow:-5px 5px 15px 3px grey;
    justify-content:center;

}
.inputOuter input
{
    padding-left:40px;
    border-radius:30px 30px 30px 30px;
    border:1px solid #682d53;
}
.inputOuter i
{
    position:absolute;
    padding:9px 8px;
    font-size:20px;
    color:black;
}
.form-control:focus
{
    box-shadow:none;
    border:2px solid #682d53;
    box-shadow:0 0 5px #682d53;
}
.inputOuter input[Type=submit]
{
    background:#642b4f;
    color:white;
    padding:5px 0px 5px 0px;
    font-weight:bold;
}
.inputOuter input[Type=submit]:hover
{
    background:#ffe417;
    color:black;
    border:1px solid #682d52;
}
</style>

<div class="row mx-3 my-5 changepassouter">
 <div class="col-sm-4"></div>
    <div class="col-sm-4 changepassform py-4">
        <h4 style="text-align:center;">Chan<span style="border-bottom:2px solid #682d53;">ge Pas</span>sword</h4>

        <form method="post" class="pt-5">
        {% csrf_token %} <!--cross site reforgery-->
            <div class="row g-3 px-4">

                  <div class="col-sm-12  mb-2">
                      <label>Old Password:</label>
                      <div class="inputOuter">
                          <i class="fa-solid fa-lock"></i>
                          <input type="text" class="form-control" name="oldpasswd" required placeholder="Enter Old Password *" >
                      </div>
                  </div>

                  <div class="col-sm-12  mb-2">
                      <label>New Password:</label>
                      <div class="inputOuter">
                          <i class="fa-solid fa-lock"></i>
                        <input type="text" class="form-control" name="newpasswd" required placeholder="Enter New Password *" >
                        </div>
                  </div>

                  <div class="col-sm-12  mb-2">
                      <label>Confirm Password:</label>
                      <div class="inputOuter">
                      <i class="fa-solid fa-lock"></i>
                    <input type="text" class="form-control" name="cpasswd" required placeholder="Enter Confirm Password *" >
                      </div>
                      </div>
                <div class="col-sm-12 pt-3 inputOuter">
                    <input type="submit" class="form-control" value="Change">
                </div>
            </div>
        </form>
    </div>
 <div class="col-sm-4"></div>
</div>

{% endblock %}